__pycache__/*
*.pyc
.venv/
.env
.DS_Store
.pytest_cache/
.ruff_cache/
.vscode/
.idea/
.cursorrules
.cursorignore
*.log
*.meta
*/*.meta
legal-ner-api/models/*
legal-ner-api/config/*
legal-ner-api/temp/*
legal-ner-api/logs/*
legal-ner-api/data/.minio.sys/*
.*
*.bkp
xl*